<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLDSV.Properties.Settings.QLDiemsvConnectionString"
            connectionString="Data Source=LAPTOP-I4VNS42R\SQLEXPRESS;Initial Catalog=QLDiemsv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QLDSV.Properties.Settings.UTTquanlisvConnectionString"
            connectionString="Data Source=DESKTOP-QHD64DQ\SQLEXPRESS;Initial Catalog=UTTquanlisv;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>